[core]
	editor = /usr/bin/vi
	excludesfile = /Users/HashNuke/.gitignore_global
	pager = less -r
[user]
	name = Akash Manohar J
	email = akash@akash.im
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	st = status
	co = checkout
	dc = "diff --cached"
	ci = "commit -s"
	clean-all = !git reset --hard && git clean -fd
	br = branch
	rb = rebase
	df = diff
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
