[core]
	excludesfile = /Users/HashNuke/.gitignore_global
	pager = less -r
	editor = /usr/bin/vim
[user]
	name = Akash Manohar
	email = akash@akash.im
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	st = status
	co = checkout
	dc = "diff --cached"
	ci = "commit -s"
	clean-all = !git reset --hard && git clean -fd
	br = branch
	rb = rebase
  df = diff
  cp = cherry-pick
  ll = "log --oneline"
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[include]
  path = ~/.gitconfig.local
[pull]
	rebase = true
[init]
	defaultBranch = main
